*.axf
*.htm
*.Inp
*.map
*.tra
*.dep
*.__i
*.crf
*.[Tt][Mm][Pp]
*.d
*.o
*.lst
*.lnp
*.bak
*.Vishwas
*.bin
*.fed
*._2i
*.l1p
*.l2p
*.iex
.#*
*.uvgui.*
/Listing
/Output


*.sw[o-q]
JLinkLog.txt
*.hex
*.sct

